spring.data.mongodb.uri=mongodb://localhost:27017/mde

#Custom Configuration

#CORS Policy
custom.cors.allowed_urls=http://localhost

#Asyncronous Method Handling + Thread Pool
custom.concurrency.async.config.core_pool_size=20
custom.concurrency.async.config.max_pool_size=1000

#Alerts Triggering
custom.alerts.to_be_triggered_alerts_endpoint=http://localhost:3000/alerts/trigger-alerts

#Symbols and Timeframes
custom.symbols.endpoint=http://localhost:3000/providers/for-fetcher/slug/binance