spring.data.mongodb.uri=mongodb://localhost:27017/mde
spring.data.mongodb.database=mde

#Custom Configuration

#CORS Policy
custom.cors.allowed_urls=http://localhost

#Asyncronous Method Handling + Thread Pool
custom.concurrency.async.config.core_pool_size=20
custom.concurrency.async.config.max_pool_size=1000
